# FastAPI 웹 프레임워크
fastapi==0.120.4
uvicorn[standard]==0.38.0
python-multipart==0.0.20
pydantic==2.12.3

# cuda 버전 torch
torch==2.5.1+cu121
torchaudio==2.5.1+cu121
torchvision==0.20.1+cu121
--extra-index-url https://download.pytorch.org/whl/cu121

# cpu 추론을 위한 추가 패키지
# onnx==1.19.1
# onnxruntime==1.23.2
# onnxruntime-tools==1.7.0

# Vector_db
weaviate-client==4.17.0

# 핵심 ML 라이브러리
# tensorflow==2.14.0
# tensorboard==2.14.0
# protobuf==6.33.0

# 데이터 처리
numpy==2.1.2
pandas==2.3.3
scipy==1.15.3

# 컴퓨터 비전
opencv-contrib-python==4.10.0.84

# 머신러닝 유틸리티
scikit-learn==1.5.2

# 시각화
matplotlib==3.10.6

# 기타 유틸리티
tqdm==4.67.1
pillow==11.3.0
h5py==3.14.0
httpx==0.28.1

# 개발 도구
pytest==8.3.4
